.c-panel {
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0;
  box-shadow: $box-shadow;
  z-index: 1;
  display: none;
  background-color: $white;
  overflow: hidden;
  @include transition(height 1s ease-in-out);

  &--open {
    height: 500px;
    display: block;
  }
}

.c-panel__map {
    @include animation(spin, 10000ms, infinite, linear);
}

.c-panel__map--text {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

@-ms-keyframes spin {
    0% { -ms-transform: scale(3); }
    50% { -ms-transform: scale(1); }
    100% { -ms-transform: scale(3); }
}
@-moz-keyframes spin {
    0% { -moz-transform: scale(3); }
    50% { -moz-transform: scale(1); }
    100% { -moz-transform: scale(3); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: scale(3); }
    50% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(3); }
}
@keyframes spin {
    0% { transform: scale(3); }
    50% { transform: scale(1); }
    100% { transform: scale(3); }
}

