.u-align--container {
    display: flex;
}

.u-align--container-center {
    justify-content: center;
    display: flex;
}

.u-align--container-center-both {
    align-items: center;
    display: flex;
    justify-content: center;
}

.u-align--item {
    flex: 1;
}

.u-align--top {
    align-items: flex-start;
    display: flex;
}

.u-align--right {
    display: flex;
    justify-content: flex-end;
}

.u-align--container-vertical {
    display: block;
    position: relative;
    transform-style: preserve-3d;
}

.u-align--vertical {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
