.c-creature {
  position: relative;
  background-color: transparent;
  display: block;
  margin: 2em 0;
  color: $white;
  text-align: center;
  @include transition(all 1s ease-in-out);
}

.c-creature:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: $maincolor-02;
  content: "";
}

.c-creature__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.c-creature__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.c-creature__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}
